[submodule "vim/vim/bundle/Vundle.vim"]
	path = vim/vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "vim/vim/bundle/gundo.vim"]
	path = vim/vim/bundle/gundo.vim
	url = https://github.com/sjl/gundle.vim.git
[submodule "zsh/zprezto"]
	path = zsh/zprezto
	url = https://github.com/sorin-ionescu/prezto.git
    ignore = dirty
